---
layout: handbook-page-toc
title: "Community relations workflow: UTM Tracking Strategy"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## <i class="" id="overview"></i> Overview

The purpose of this page is to outline the UTM strategy of the Community team and how it drives dashboards of the team in Sisense. This strategy is desigend inline with [Marketing UTM Strategy](/handbook/marketing/utm-strategy/) and reviewed by the Marketing Strategy & Analytics team.

## <i class="" id="utm-usecases"></i> Use Cases

- Workshop with referal to a marketing website for more resources or reference
- Free Trial signup suggestions during presentations
- Referencing surveys, blogpost, release post or anyother Content
- Referencing Documentation pages

## <i class="" id="utm-parameters"></i> UTM Parameters

UTM Parameters are used to track how a user got to a website, their transition through the website and at what point they existed. For the community team, UTM parameters will help use measure the impact of engagements with the community in driving contributions to GitLab and subscriptions. Choice of UTM parameteres is restricted to certain values and managed by the MS & A team. Maintaining standards is essential for data to get to the right destination in Google Analytics and Sisence. The UTM parameters for agreed on for community team are as follows.

| Name              |   Parameter        |  Community  Values  | Description   |
|-------------------|----------------|--------------------|---------------|
| Campaign Name     | utm_campaign   |  `community`                 | The medium is the overarching channel bucket like paidsearch, social, or sponsorship. It answers the question of "how did they come to us?". For the community team, it helps identify metrics for the team and used in instrumenting necessary dashboards in Sisense. If you are engaging under another campaign, please liaise with the DRIs of the campaign for the right `utm_campaign` or the MS & A team. |
| Campaign Source   | utm_source     | mailjet, twitter, linkedin, stackoverflow, etc. See [UTM Generator Picklist for more](https://docs.google.com/spreadsheets/d/12jm8q13e3-JNDbJ5-DBJbSAGprLamrilWIBka875gDI/edit#gid=3) | The source-based URL parameter can tell you which website is sending the traffic. The source is a further "slicing" of overall channels. It answers the question of "how did they come to us?" but with more granular details than utm_medium. Examples include demandbase, twitter, or market. |
| Campaign Medium   | utm_medium     |  display, email, social | The medium is the overarching channel bucket like paidsearch, social, or sponsorship. It answers the question of "how did they come to us?". |
| Campaign Content  | utm_content    |  | This parameter is used to identify the specific campaign a community DRI is using the UTM tracking for and used to separate reporting for different campaigns of the team in Sisense. To further make it easier, the MS&A team will have approved using prefixes to enable filtering of tracking by programs. i.e. `de_`, `edu_`, `oss_`, `code_`, `heroes_` will be used to filter each program results.|
| Campaign Budget   | utm_budget     |  cmty | Indicates which budget is used for the campaign promotion. |


## <i class="" id="conmpulsory-utm-codes"></i> Compulsory fields

For results to get to the right dashboards, it is necessary to set the right UTM parameters. The compulsory parameters are:

- `utm_campaign=community`
- `utm_budget=cmty`

The values of these parameteres should not be changed. Optional but necessary parameteres with example values are

- `utm_source=linkedin` 
- `utm_medium=social`
- `utm_content=de_gitlab_release` 

## <i class="" id="example-utm-codes"></i> Examples

Example 1: https://about.gitlab.com/releases/2022/11/22/gitlab-15-6-released/?utm_campaign=community&utm_source=linkedin&utm_medium=social&utm_content=de_gitlab_release&utm_budget=cmty


- utm_campaign=community : default campaign code for the community team
- utm_source=linkedin : Where visit is coming from
- utm_medium=social : broader identification of where they are coming from
- utm_content=de_gitlab_release : de_ to identify the DevEvangelism team, we can also have edu_, oss_, code_, heros_, etc.
- utm_budget=cmty : Identifies Community team as the owner of the budget.

Example 2: https://about.gitlab.com/releases/2022/11/22/gitlab-15-6-released/?utm_campaign=community&utm_source=mailjet&utm_medium=email&utm_content=newsletter_gitlab_release&utm_budget=cmty

Example 3: https://about.gitlab.com/releases/2022/11/22/gitlab-15-6-released/?utm_campaign=community&utm_source=qrcode&utm_medium=display&utm_content=edu_mit_workshop_slide&utm_budget=cmty

## <i class="" id="best-practices-utm-codes"></i> Best Practices

- Use URL shortening for URLs with UTM parameters
- Use the right `utm_source` & `utm_medium` to get best results in identifying where visitors came from, see [UTM Generator Picklist](https://docs.google.com/spreadsheets/d/12jm8q13e3-JNDbJ5-DBJbSAGprLamrilWIBka875gDI/edit#gid=3) for a full list of available options.
- Use the right prefixes for `utm_content` and only use underscore for the extra text you will add.

## <i class="" id="dashboards-utm-codes"></i> Dashboards

TBD
